{% extends 'layout.html' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories List</h1>
    <hr>

    {% if categories %}
        <form action="" method="post" name="categories_list" onsubmit="return confirm('Are you sure you wish to delete?');">
            <div class="form-group">
                <button class="btn btn-danger btn-md">Delete Selected Categories</button>
                <a href="{{ url_for('add_category_page') }}" class="btn btn-primary">Add Category</a>
            </div>
            <table class="table is-striped is-fullwidth">
                <tr>
                    <th>Select</th>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                {% for category in categories %}
                    <tr>
                        <td>
                            <label class="checkbox">
                                <input type="checkbox" name="category_keys" value="{{ category._id }}"/>
                            </label>
                        </td>
                        <td>{{ category._id }}</td>
                        <td>{{ category.category_name }}</td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    {% endif %}
{% endblock %}