{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>
    <hr>
    <div class="card card-body">
        <form action="" method="post">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="password" class="col-form-label">Password:</label>
                {{ form.password(required=True, autofocus=True, class='form-control', placeholder='Password') }}
            </div>
            {% for error in form.password.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            <div class="form-group">
                <label for="validation" class="col-form-label">Password Again:</label>
                {{ form.validation(required=True, autofocus=False, class='form-control', placeholder='Password Again') }}
            </div>
            {% for error in form.validation.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}

            <button class="btn btn-primary btn-block mb-4">Confirm</button>
        </form>
    </div>
{% endblock %}