{% extends 'layout.html' %}

{% block title %}Comment Page{% endblock %}

{% block body %}
    <h1>Comment Information</h1>
    <hr>
    <div class="card card-body">
        <table class="table is-fullwidth table-hover">
            <tr>
                <th>Author</th>
                <td>{{ comment['author'] }}</td>
            </tr>
            <tr>
                <th>Target User</th>
                <td>{{ comment['comment_to'] }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ comment['comment'] }}</td>
            </tr>
            <tr>
                <th>Is Verified?</th>
                <td>{{ comment['isVerified'] }}</td>
            </tr>
            {% if not comment['isVerified'] %}
                <a class="btn btn-primary btn-md" href="{{ url_for('accept_comment', comment_id=comment['_id']) }}">Accept Comment</a>
                <form action="" method="post" name="reject" onsubmit="return confirm('Are you sure you wish to reject?');">
                    <button class="btn btn-danger btn-md">Reject Comment</button>
                </form>
            {% endif %}
        </table>
    </div>
{% endblock %}