{% extends "layout.html" %}

{% block title %}Users{% endblock %}

{% block body %}
  <h1 class="title">Users List</h1>
  <hr>
    <form action="/search_users" method="post" name="search-user">
        <div class="field-group form-row">
            <div class="field col-md-10">
                <div class="control">
                    <input type="text" class="form-control" name="keyword" placeholder="Enter EMAIL to search..." size="60">
                </div>
            </div>
            <div class="field col-md-2">
                <div class="control">
                    <button class="btn btn-success">Search</button>
                </div>
            </div>
        </div>
    </form>
  {% if users %}
    <form action="" method="post" name="users_list" onsubmit="return confirm('Are you sure you wish to delete?');">
      <div class="form-group">
        <button class="btn btn-danger btn-md">Delete Selected Users</button>
      </div>
      <table class="table is-striped is-fullwidth">
        <tr>
          <th>Select</th>
          <th>User Id</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Role</th>
          <th>Verified</th>
          <th>Verification Code</th>
          <th>Blocked</th>
          <th>Rate</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>
            {% if user.role != 'admin' %}
            <label class="checkbox">
              <input type="checkbox" name="user_keys" value="{{ user._id }}"/>
            </label>
            {% endif %}
          </td>
          <td>
            {{ user._id }}
          </td>
          <td>
            {{ user.name }}
          </td>
          <td>
            {{ user.surname }}
          </td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ user.role }}
          </td>
          <td>
            {{ user.verified }}
          </td>
          <td>
            {{ user.verificationCode }}
          </td>
          <td>
            {{ user.blocked }}
          </td>
          <td>
            {{ user.rate }}
          </td>
          {% if not user.blocked and user.role != 'admin' %}
          <td>
              <a class="btn btn-danger btn-sm" href="{{ url_for('block_user', user_id=user._id) }}">Block</a>
          </td>
          {% elif user.blocked and user.role != 'admin' %}
          <td>
              <a class="btn btn-primary btn-sm" href="{{ url_for('unblock_user', user_id=user._id) }}">Unblock</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        {{ pagination.links }}
      </ul>
    </nav>
    </form>
  {% endif %}
{% endblock %}